deploy/azure-stream-analytics--twitter-template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PowerBIUserDisplayName": {
            "type": "string",
            "minLength": 3,
            "defaultValue": "Please enter your name here",
            "metadata": {
                "description": "Your name for connecting Stream Analytics to PowerBI."
            }
        },
        "PowerBIUserLoginName": {
            "type": "string",
            "minLength": 3,
            "defaultValue": "first.last@outlook.com",
            "metadata": {
                "description": "Your loginname/alias for connecting Stream Analytics to PowerBI."
            }
        },
        "TwitterUserName": {
            "type": "string",
            "minLength": 3,
            "defaultValue": "",
            "metadata": {
                "description": "Your Twitter handle"
            }
        }
    },
    "variables": {
        "namespaces_twitter_eh_name": "[concat('twitter-eh-', uniqueString(resourceGroup().id))]",
        "streamingjobs_twitter_name": "[concat('twitter-stream-', uniqueString(resourceGroup().id))]",
        "eventhub_resourceKey": "[resourceId('Microsoft.EventHub/namespaces/AuthorizationRules', variables('namespaces_twitter_eh_name'), 'RootManageSharedAccessKey')]",
        "workflows_twitter_listener_name": "[concat('twitter-listener-', uniqueString(resourceGroup().id))]",
        "cognitive_services_name": "[concat('cognitive-services-', uniqueString(resourceGroup().id))]",
        "eventhub_resource": "[resourceId('Microsoft.EventHub/namespaces/AuthorizationRules', variables('namespaces_twitter_eh_name'), 'RootManageSharedAccessKey')]",
        "cognitiveservicesid": "[concat(resourceGroup().id,'/providers/','Microsoft.CognitiveServices/accounts/', variables('cognitive_services_name'))]"
    },
    "resources": [
        {
            "type": "Microsoft.EventHub/namespaces",
            "apiVersion": "2018-01-01-preview",
            "name": "[variables('namespaces_twitter_eh_name')]",
            "location": "[resourceGroup().location]",
            "sku": {
                "name": "Standard",
                "tier": "Standard",
                "capacity": 1
            },
            "properties": {
                "zoneRedundant": false,
                "isAutoInflateEnabled": false,
                "maximumThroughputUnits": 0,
                "kafkaEnabled": false
            }
        },
        {
            "type": "Microsoft.StreamAnalytics/streamingjobs",
            "apiVersion": "2016-03-01",
            "name": "[variables('streamingjobs_twitter_name')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.EventHub/namespaces', variables('namespaces_twitter_eh_name'))]"
            ],
            "properties": {
                "sku": {
                    "name": "Standard"
                },
                "outputStartMode": "JobStartTime",
                "eventsOutOfOrderPolicy": "Adjust",
                "outputErrorPolicy": "Stop",
                "eventsOutOfOrderMaxDelayInSeconds": 0,
                "eventsLateArrivalMaxDelayInSeconds": 5,
                "dataLocale": "en-US",
                "inputs": [
                    {
                        "name": "twittereh",
                        "properties": {
                            "type": "Stream",
                            "datasource": {
                                "type": "Microsoft.ServiceBus/EventHub",
                                "properties": {
                                    "eventHubName": "twitter-eh",
                                    "serviceBusNamespace": "[variables('namespaces_twitter_eh_name')]",
                                    "sharedAccessPolicyName": "RootManageSharedAccessKey",
                                    "sharedAccessPolicyKey": "[listKeys(variables('eventhub_resourceKey'), '2017-04-01').primaryKey]"
                                }
                            },
                            "serialization": {
                                "type": "Json",
                                "properties": {
                                    "encoding": "UTF8"
                                }
                            }
                        }
                    }
                ],
                "outputs": [
                    {
                        "name": "powerbi",
                        "properties": {
                            "dataSource": {
                                "type": "PowerBI",
                                "outputPowerBISource": {
                                    "dataSet": "twitter",
                                    "table": "twitter",
                                    "groupId": "",
                                    "groupName": "My Workspace",
                                    "refreshToken": "dummytoken",
                                    "tokenUserDisplayName": "[parameters('PowerBIUserDisplayName')]",
                                    "tokenUserPrincipalName": "[parameters('PowerBIUserLoginName')]"
                                },
                                "properties": {
                                    "dataSet": "twitter",
                                    "table": "twitter",
                                    "groupId": "",
                                    "groupName": "My Workspace",
                                    "refreshToken": "dummytoken",
                                    "tokenUserDisplayName": "[parameters('PowerBIUserDisplayName')]",
                                    "tokenUserPrincipalName": "[parameters('PowerBIUserLoginName')]"
                                }
                            },
                            "serialization": null,
                            "diagnostics": null
                        }
                    }
                ],
                "transformation": {
                    "name": "Transformation",
                    "properties": {
                        "streamingUnits": 1,
                        "query": "-- Power BI output\r\n SELECT\r\n System.TimeStamp as OutTime,\r\n AVG(SentimentScore) AS AverageSentimentScore,\r\n MIN(SentimentScore) AS MinSentimentScore,​\r\n MAX(SentimentScore) AS MaxSentimentScore,\r\n COUNT(*) AS TweetsPerMinute\r\n INTO powerbi\r\n FROM twittereh\r\n GROUP BY \r\n HoppingWindow(Duration(minute, 1), Hop(second, 5))"
                    }
                },
                "compatibilityLevel": "1.1"
            }
        },
        {
            "type": "Microsoft.EventHub/namespaces/AuthorizationRules",
            "apiVersion": "2017-04-01",
            "name": "[concat(variables('namespaces_twitter_eh_name'), '/RootManageSharedAccessKey')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.EventHub/namespaces', variables('namespaces_twitter_eh_name'))]"
            ],
            "properties": {
                "rights": [
                    "Listen",
                    "Manage",
                    "Send"
                ]
            }
        },
        {
            "type": "Microsoft.EventHub/namespaces/eventhubs",
            "apiVersion": "2017-04-01",
            "name": "[concat(variables('namespaces_twitter_eh_name'), '/twitter-eh')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.EventHub/namespaces', variables('namespaces_twitter_eh_name'))]"
            ],
            "properties": {
                "messageRetentionInDays": 1,
                "partitionCount": 2,
                "status": "Active"
            }
        },
        {
            "type": "Microsoft.EventHub/namespaces/eventhubs/consumergroups",
            "apiVersion": "2017-04-01",
            "name": "[concat(variables('namespaces_twitter_eh_name'), '/twitter-eh/$Default')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.EventHub/namespaces/eventhubs', variables('namespaces_twitter_eh_name'), 'twitter-eh')]",
                "[resourceId('Microsoft.EventHub/namespaces', variables('namespaces_twitter_eh_name'))]"
            ],
            "properties": {}
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[variables('workflows_twitter_listener_name')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', 'cognitiveservicestextanalytics')]",
                "[resourceId('Microsoft.Web/connections', 'eventhubs')]",
                "[resourceId('Microsoft.Web/connections', 'twitter')]"
            ],
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_new_tweet_is_posted": {
                            "recurrence": {
                                "frequency": "Second",
                                "interval": 1
                            },
                            "splitOn": "@triggerBody()?['value']",
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twitter']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/onnewtweet",
                                "queries": {
                                    "searchQuery": "beach"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Compose": {
                            "runAfter": {
                                "Detect_Sentiment": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": {
                                "Location": "@{triggerBody()?['UserDetails']?['Location']}",
                                "SentimentScore": "@{body('Detect_Sentiment')?['score']}",
                                "TweetText": "@{triggerBody()?['TweetText']}"
                            }
                        },
                        "Detect_Sentiment": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "text": "@triggerBody()?['TweetText']"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['cognitiveservicestextanalytics']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/sentiment"
                            }
                        },
                        "Send_event": {
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "ContentData": "@{base64(outputs('Compose'))}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['eventhubs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/@{encodeURIComponent('twitter-eh')}/events"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "cognitiveservicestextanalytics": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'cognitiveservicestextanalytics')]",
                                "connectionName": "cognitiveservicestextanalytics",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/cognitiveservicestextanalytics')]"
                            },
                            "eventhubs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'eventhubs')]",
                                "connectionName": "eventhubs",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/eventhubs')]"
                            },
                            "twitter": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'twitter')]",
                                "connectionName": "twitter",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/twitter')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "eventhubs",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "twitter-eh",
                "parameterValues": {
                    "connectionString": "[listKeys(variables('eventhub_resource'), '2017-04-01').primaryConnectionString]"
                },
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/eventhubs')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "cognitiveservicestextanalytics",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "https://eastus.api.cognitive.microsoft.com/text/analytics/v2.0/sentiment",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/cognitiveservicestextanalytics')]"
                },
                "parameterValues": {
                    "siteUrl": "[reference(variables('cognitiveservicesid'),'2016-02-01-preview').endpoint]",
                    "apiKey": "[listKeys(variables('cognitiveservicesid'),'2016-02-01-preview').key1]"
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.CognitiveServices/accounts', variables('cognitive_services_name'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "twitter",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('TwitterUserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/twitter')]"
                }
            }
        },
        {
            "type": "Microsoft.CognitiveServices/accounts",
            "apiVersion": "2016-02-01-preview",
            "name": "[variables('cognitive_services_name')]",
            "location": "[resourceGroup().location]",
            "sku": {
                "name": "S0"
            },
            "kind": "TextAnalytics",
            "properties": {}
        }
    ]
}